<footer>
    <div class="footer-top">
        <div class="container">
            <div class="col-sm-5">
                <ul class="col-sm-4">
                    <li><a href="#">Accueil</a></li>
                    <li><a href="#"><span>Extranet</span> <span class="iconfont-lock lock-extra"></span></a></li>
                </ul>
                <ul class="col-sm-4">
                    <li><a href="#">Présentation</a></li>
                    <li><a href="#">Économie et emploi</a></li>
                    <li><a href="#">Habitat et urbanisme</a>
                    </li>
                    <li><a href="#">Environnement</a></li>
                </ul>
                <ul class="col-sm-4">
                    <li><a href="#">Tourisme/Culture /Loisirs</a></li>
                    <li><a href="#">Petite enfance /jeunesse</a></li>
                    <li><a href="#">Action Sociale</a></li>
                </ul>
            </div>
            <div class="col-sm-3 adresse">
                <img src="img/logo.jpg" alt="Logo de la Communauté de communes Canton de Saint Fulgent" width="47" height="117">

                <div class="adr">
                    <h4>Communauté de communes Canton de Saint Fulgent</h4>

                    <p>2 rue Jules Verne<br>
                        85250 Saint-Fulgent<br>
                        Tél : 02 51 43 81 61<br>
                        Email : <a href="mailto:contact@ccfulgent.fr">contact@ccfulgent.fr</a></p>
                </div>
                <a href="#" class="voir">> Voir les horaires d’ouverture</a>
            </div>
            <div class="col-sm-4 newsletter">
                <h4>Newsletter</h4>

                <p>Pour être informé de nos actualités,<br>
                    inscrivez-vous à la newsletter :
                </p>

                <form action="#" method="post">
                    <input type="email" placeholder="Votre email"><input type="submit" value="Envoyer">
                </form>
                <a href="#" class="voir">> Voir le dernier numéro</a>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <ul>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="#">Accessibilité</a></li>
                <li><a href="plan-du-site.html">Plan du site</a></li>
                <li><a href="#">Mentions légales</a></li>
                <li><a href="#">Crédits</a></li>
                <li><a href="http://www.ayaline.com">Réalisé par <img src="img/ayaline.svg" alt="Logo aYaline" width="70"/></a></li>
            </ul>
        </div>
    </div>
</footer>